<h2>Cakes</h2>
{{#each cakes}}
<figure class="image is-500x500">
    <img src="{{image}}">
</figure>
<h3>Name: {{name}}</h3>
<h3>Price: ${{price}}</h3>
<h3>Description: <p>{{description}}</p>
</h3>
<form action="/baker/cakes/update/{{_id}}" method="GET">
    <input type="submit" value="Update Cake">
</form>
<form action="/baker/cakes/{{_id}}?_method=DELETE" method="POST">
    <input type="submit" value="Delete Cake">
</form>
{{/each}}

<form action="/baker/cakes" method="POST">
    <label for="name">Name: </label>
    <input type="text" name="name">
    <label for="price">Price: </label>
    <input type="number" name="price">
    <label for="image">Image: </label>
    <input type="text" name="image">
    <label for="description">Description: </label>
    <textarea name="description" cols="30" rows="10"></textarea>
    <input type="submit" value="Make Cake">
</form>

{{#each suggestions}}
<h2>Suggestions</h2>
<h3>Name: {{customerName}}</h3>
<h3>Email: {{customerEmail}}</h3>
<h3>Idea: <p>{{idea}}</p>
</h3>
<form action="/baker/cakes/suggestions/{{_id}}?_method=DELETE" method="POST">
    <input type="submit" value="Delete Suggestion">
</form>
{{/each}}