<div class="card">
    <div class="card-header">
        <h2>Update Cake</h2>
    </div>
    <div class="form card-content">
    <form class="suggestion-form" action="/baker/cakes/{{cake._id}}?_method=PUT" method="POST">
        <label for="name">Name: </label>
        <input class="input is-medium is-rounded is-warning" type="text" name="name" value="{{cake.name}}">
        <label for="price">Price: </label>
        <input class="input is-medium is-rounded is-warning" type="number" name="price" value="{{cake.price}}">
        <label for="image">Image: </label>
        <input class="input is-medium is-rounded is-warning" type="text" name="image" value="{{cake.image}}">
        <label for="description">Description: </label>
        <textarea class="textarea is-medium is-warning" name="description" cols="30"
            rows="10">{{cake.description}}</textarea>
        <div class="submit">
            <input class="button is-rounded" type="submit" value="Save Cake">
        </div>
    </form>
</div>