{{#each orders}}
<div class="order-cards card">
    <div class="card-content">
        <div class="media">
            <div class="media-left">
                <figure class="image is-96x96">
                    <img class="order-image" src="{{cakeId.image}}" alt="">
                </figure>
            </div>
            <div class="orders media-content media-right">
                <h3>Name: {{cakeId.name}}</h3>
                <h3>Price per Cake: ${{cakeId.price}}</h3>
                <h3>Quantity: {{quantity}}</h3>
                <h3>Pick Up Date and Time: <input class="suggestion-form input is-rounded is-medium is-warning" type="datetime-local" readonly="true" value="{{pickUp}}"></h3>
                <h3>Status: {{status}}</h3>
                <h3>Comments: <p>{{comments}}</p>
                </h3>
            </div>
        </div>
    </div>
</div>
{{/each}}