<h1>Orders</h1>
<main>
    {{#each orders}}
    <div class="order-cards card">
        <div class="shopping-header card-header">
            <div class="media">
                <div class="media-left">
                    <figure class="image is-96x96">
                        <img class="order-image" src="{{cakeId.image}}" alt="">
                    </figure>
                </div>
                <div class="media-content media-right">
                    <h3>Name: {{cakeId.name}}</h3>
                    <h3>Price per Cake: ${{cakeId.price}}</h3>
                </div>
            </div>
        </div>


        <div class="form card-content">
            <div class="order-info suggestion-form">
                <h3>Quantity: {{quantity}}</h3>
                <h3>Status: {{status}}</h3>
                <h3>Pick Up Date and Time: <input class="input is-rounded is-medium is-warning"
                        type="datetime-local" readonly="true" value="{{pickUp}}"></h3>
                <h3>Comments: <textarea class="textarea is-medium is-warning" name="comment"
                        readonly="true" cols="30" rows="3">{{comments}}</textarea></h3>
            </div>
        </div>
    </div>
    </div>
    {{/each}}
</main>