<h1>Shopping Cart</h1>
<main>
    {{#each orders}}
    <div class="order-cards card">
        <div class="shopping-header card-header">
            <div class="media">
                <div class="media-left">
                    <figure class="image is-96x96">
                        <img class="cart-image" src="{{cakeId.image}}">
                    </figure>
                </div>

                <div class="media-content media-right">
                    <h3>Name: {{cakeId.name}}</h3>
                    <h3>Price per Cake: ${{cakeId.price}}</h3>
                </div>
            </div>
        </div>
        <div class="form card-content">
            <form class="suggestion-form" action="/shoppingCart/{{_id}}?_method=PUT" method="POST">
                <label class="shopping-cart" for="quantity">Quantity: </label>
                <input class="input shopping-cart is-medium is-rounded is-warning" type="number" name="quantity"
                    value="{{quantity}}">
                <label class="shopping-cart" for="pickUp">Pick Up Date and Time: </label>
                <input class="input is-medium is-rounded is-warning" type="datetime-local" name="pickUp"
                    value="{{pickUp}}">
                <label class="shopping-cart" for="comment">Comments: </label>
                <textarea class="textarea is-medium is-warning" name="comment" cols="30"
                    rows="3">{{comments}}</textarea>
                <input type="hidden" name="status" value="{{status}}">
                <input type="hidden" name="cakeId" value="{{cakeId._id}}">
                <div class="submit-order">
                    <input class="button is-rounded" type="submit" value="Save Changes">
            </form>
            <form action="/shoppingCart/{{_id}}?_method=DELETE" method="POST">
                <input id="delete" class="button is-rounded" type="submit" value="Delete">
            </form>
        </div>
    </div>
    </div>
    {{/each}}
</main>

<div class="total-cost card">
    <h2>Total cost: ${{sum}}</h2>
    <div class="submit-order suggestion-form">
        <form action="/" method="GET">
            <input class="button is-rounded" type="submit" value="Continue Shopping">
        </form>
        <form action="/shoppingCart/submit" method="POST">
            <input id="submit-order" class="button is-rounded" type="submit" value="Submit Order">
        </form>
    </div>
</div>